<h1 class="title is-2">Your Cart</h1>

<%if @cart.empty?%>
    <p>Cart is empty.</p>
<%else%>
    <table class="table is-fullwidth is-bordered text-is-centered">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <%@cart.each do |product|%>
                <tr>
                    <td><%= image_tag(product.image, width: '100', alt: "#{product.name.truncate(10)}")%></td>
                    <td class="has-text-justified has-text-centered"><%= link_to product.name.truncate(50), product %></td>
                    <td class="has-text-justified has-text-centered">
                    <%if(product.sale)%>
                            <%=number_to_currency((product.price - (product.price * product.sale)))%>
                        <%else%>
                            <%=number_to_currency(product.price)%>
                        <%end%>
                    </td>                   
                    <%if(product.is_a? Game)%>
                        <td class="has-text-justified has-text-centered">
                            <%= form_with(url: update_game_quantity_path(product.id.to_s), method: :post, local: true) do %>                            
                                <select name="quantity">
                                    <% for v in 1..10 do%>
                                        <%if v == session[:cart_games][product.id.to_s] %>
                                            <option value="<%=v%>" selected="selected"><%=v%></option>
                                        <%else%>
                                            <option value="<%=v%>"><%=v%></option>
                                        <%end%>
                                    <%end%>
                                </select>
                                <input type="hidden" name="id" value="<%=product.id.to_s%>"/>
                                <button class="button is-confirm" type="submit">Update</button>                            
                            <%end%>
                        </td>
                        <%if(product.sale)%>
                            <td><%=number_to_currency((product.price - (product.price * product.sale))* session[:cart_games][product.id.to_s])%></td>
                        <%else%>
                            <td><%=number_to_currency(product.price * session[:cart_games][product.id.to_s])%></td>
                        <%end%>
                    <%else%>
                        <td class="has-text-justified has-text-centered">
                            <%= form_with(url: update_platform_quantity_path(product.id.to_s), method: :post, local: true) do %>                            
                                <select name="quantity">
                                    <% for v in 1..10 do%>
                                        <%if v == session[:cart_platforms][product.id.to_s] %>
                                            <option value="<%=v%>" selected="selected"><%=v%></option>
                                        <%else%>
                                            <option value="<%=v%>"><%=v%></option>
                                        <%end%>
                                    <%end%>
                                </select>
                                <input type="hidden" name="id" value="<%=product.id.to_s%>"/>
                                <button class="button is-confirm" type="submit">Update</button>                            
                            <%end%>
                        </td>
                        <td><%=number_to_currency(product.price * session[:cart_platforms][product.id.to_s])%></td>
                    <%end%>                   
                    <%if(product.is_a? Game)%>
                        <td><%=button_to "Remove", remove_game_from_cart_path(product.id.to_s), method: :delete, class: "button is-small is-danger"%></td>
                    <%else%>
                        <td><%=button_to "Remove", remove_platform_from_cart_path(product.id.to_s), method: :delete, class: "button is-small is-danger"%></td>
                    <%end%>
                </tr>
            <%end%>
            <tr>
                <td></td>
                <td></td>
                <td></td>                
                <td>Subtotal</td>
                <td><%=number_to_currency(@sub)%></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>                
                <td>Taxes</td>
                <%if(@tax <= 0)%>
                    <td>Calculated at Check Out</td>
                <%else%>
                    <td><%=number_to_currency(@tax)%></td>
                <%end%>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>                
                <td>Total</td>
                <td><%=number_to_currency(@total)%></td>
                <td>
                    <%if(user_signed_in?)%>
                        <%=button_to "Checkout", checkout_create_path, method: :post, class: "button is-primary", params: {subtotal: @sub, tax: @tax, total: @total}%>
                    <%else%>
                        <%=button_to "Sign In to Checkout", new_user_session_path, class: "button is-primary", method: :get%>
                    <%end%>
                </td>
            </tr>
        </tbody>
    </table>
<%end%>