<p style="color: green"><%= notice %></p>

<h1 class="title is-2">Orders</h1>

<%= paginate @orders %>

<div class="columns is-multiline">
  <% @orders.each do |order| %>
    <%= render order %>
  <% end %>
</div>
<%=button_to "Back", edit_user_registration_path, class: "button is-primary", method: :get%>
<%= paginate @orders %>
