<div class="column">
    <div class="card has-text-centered">               
        <% if game.image.present? %>
            <div class="card-image has-text-centered">
                <%= image_tag(game.image, width: '200')%>
            </div>
        <% end %>        
        <div class="card-content">            
            <p class="title is-5 is-centered">
                <%= link_to game.name.truncate(15), game %>
            </p>
                <%if(game.sale)%>
                    <p class="subtitle is-6 is-centered" >
                    <s style="color:red;"><%= number_to_currency(game.price)%></s> | 
                    <span style="color:green;"><%=number_to_currency(game.price - (game.price * game.sale))%></span>      
                    </p>              
                <%else%>
                    <p class="subtitle is-6 is-centered" style="color:green;"><%= number_to_currency(game.price) %></p>     
                <%end%>
            <footer class="card-footer is-centered">                
                <div class="card-footer-item">  
                    <%=button_to "Add to cart", add_game_to_cart_path(game.id), class: 'button is-primary'%>
                <div>       
            </footer>
        </div>
    </div>
</div>