<p style="color: green"><%= notice %></p>

<%= form_with(url: '/games', method: 'get', local: true) do %>
  <select name="filter" id="filter">
    <option value="All">All</option>
    <option value="Sale">On Sale</option>
    <option value="Recent">Recently Added</option>
  </select>
  <%= submit_tag("Filter") %>
<% end %>

<h1 class="title is-2">Games</h1>
<%= paginate @games %>

<div class="columns is-multiline">
  <% @games.each do |g| %>
    <%= render partial: "game", object: g %>    
  <% end %>
</div>

<%= paginate @games %>
