<p style="color: green"><%= notice %></p>

<div id="game_platform" class="card">  
  <% if @game.image.present? %>
    <div class="card-image has-text-centered">
      <%= image_tag(@game.image, width: '200')%>
    </div>
  <% end %>   
  <div class="card-content">     
    <div class="media-content">
      <p class="title is-4">
        <%= @game.name %>
      </p> 
      <p>
        <%= @game.description %>
      </p>
      <p class="card-footer-item">
        <b>Genres:&nbsp </b>
        <%@game.genres.each do |genre|%>
          <%= genre.name %> |
        <%end%>
      </p>
      <p class="card-footer-item">
        <b>Platforms:&nbsp </b>
        <%@game.platforms.each do |platform|%>
          <%= platform.name %> |
        <%end%>
      </p>
      <% if @game.age_rating.present? %>          
            <p class="card-footer-item">
              <b>ESRB Rating:&nbsp </b> <%= @game.age_rating %>
            </p>                     
        <% end %>  
      <footer class="card-footer has-text-centered"> 
        <div class="card-footer-item">  
          <%=button_to "Add to cart", add_game_to_cart_path(@game.id), class: 'button is-primary'%>
        <div>       
    </div>        
  </div>
</div>  
