<!DOCTYPE html>
<html>
  <head>
    <title>GameShack</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar is-dark" aria-label="main navigation">
      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href=<%=home_path%>>
            Home
          </a>
          <a class="navbar-item" href=<%=games_path%>>
            Games
          </a>
          <a class="navbar-item" href=<%=platforms_path%>>
            Platforms
          </a> 
          <a class="navbar-item" href=<%=genres_path%>>
            Genres
          </a>     
          <div class="navbar-item"> 
            <%= form_with(url: '/search', method: 'get', local: true) do %>
              <%= text_field_tag(:search) %>
              <select name="platforms" id="platforms">
                  <option value="All">All Platforms</option>
                <% Platform.all.each do |p|%>
                  <option value="<%=p.id%>"><%=p.name%></option>
                <%end%>
              </select>
              <%= submit_tag("Search") %>
            <% end %>
          </div>
        </div>
        <div class="navbar-end">          
          <div class="navbar-item">
            <%=button_to "Admin", admin_root_path, class: "button is-danger", method: :get%>&nbsp
            <%if user_signed_in?%>
              <%=button_to "Account", edit_user_registration_path, class: "button is-primary", method: :get%>&nbsp
              <%=button_to "Sign Out", destroy_user_session_path, class: "button is-danger", method: :get%>
            <%else%>
              <%=button_to "Sign Up", new_user_registration_path, class: "button is-primary", method: :get%>&nbsp
              <%=button_to "Sign In", new_user_session_path, class: "button is-primary", method: :get%>
            <%end%>
            <p>&nbsp|&nbsp</p>
            <%if(@cart_count != 0)%>
              <%=link_to "Cart (#{@cart_count})", cart_path, class: "button is-primary", method: :get%>
            <%else%>
              <%=link_to "Cart", cart_path, class: "button is-primary", method: :get%>
            <%end%>
          </div>
        </div>
      </div>
    </nav>
    <p class = "notice"><%=notice%></p>
    <p class = "alert"><%=alert%></p>
    <%= yield %>
  </body>
</html>
