<!DOCTYPE html>
<html>
  <head>
    <title>GameShack</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar is-danger" aria-label="main navigation">
      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href=<%=home_path%>>
            Home
          </a>
          <a class="navbar-item" href=<%=games_path%>>
            Games
          </a>
          <a class="navbar-item" href=<%=platforms_path%>>
            Platforms
          </a>     
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <a class="navbar-item" href=<%=admin_root_path%>>
              Admin
            </a>
            <%if session[:current_user_id].nil?%>
              <a class="navbar-item" href=<%=signup_path%>>
                Sign up
              </a>
              <a class="navbar-item" href=<%=login_path%>>
                Log in
              </a>              
            <%else%>
              <a class="navbar-item" href=<%=account_path%>>
                Account
              </a>
              <a class="navbar-item" href=<%=logout_path%>>
                Log out
              </a>
            <%end%>
          </div>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
