<!DOCTYPE html>
<html>
  <head>
    <title>GameShack</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar is-danger" aria-label="main navigation">
      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href=<%=home_path%>>
            Home
          </a>
          <a class="navbar-item" href=<%=games_path%>>
            Games
          </a>
          <a class="navbar-item" href=<%=platforms_path%>>
            Platforms
          </a>    
          <a class="navbar-item" href=<%=genres_path%>>
            Genres
          </a>     
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
          <%= form_with(url: '/search', method: 'get', local: true) do %>
            <%= text_field_tag(:search) %>
            <select name="platforms" id="platforms">
                <option value="All">All Platforms</option>
              <% Platform.all.each do |p|%>
                <option value="<%=p.id%>"><%=p.name%></option>
              <%end%>
            </select>
            <%= submit_tag("Search") %>
          <% end %>
          <div class="navbar-item">
            <a class="navbar-item" href=<%=admin_root_path%>>
              Admin
            </a>
            <%if user_signed_in?%>
              <a class="navbar-item" href=<%=edit_user_registration_path%>>
                Account
              </a>
              <a class="navbar-item" href=<%=destroy_user_session_path%>>
                Sign out
              </a>       
            <%else%>
              <a class="navbar-item" href=<%=new_user_registration_path%>>
                Sign up
              </a>
              <a class="navbar-item" href=<%=new_user_session_path%>>
                Sign in
              </a> 
            <%end%>
          </div>
        </div>
      </div>
    </nav>
    <p class = "notice"><%=notice%></p>
    <p class = "alert"><%=alert%></p>
    <%= yield %>
  </body>
</html>
